
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body">
    <h2>Đơn hàng đang được xác nhận</h2>
    <h3>Chúng tôi sẽ giao hàng cho bạn, xem đơn hàng tại đây <a class="nav-link" href="@Url.Action("Index", "XemDonHang")">Đơn hàng</a></h3>

    <a href="@Url.Action("ListSanPham", "SanPham")">
        Về trang chủ
    </a>
</div>


